
.layout {
    margin: 0 auto;
    max-width: 1200px;
}

body {
    background: none;
}

.grid {
    margin-left: -6px;
    margin-right: -6px;
}

.page-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #141336;
}

.grid-design {

}

.grid-design__item {
    display: inline-block;
    width: 25%;

}

.c-card_title h3 {
    font-size: 23px;
}

.c-card {
    padding: 16px 20px;
    box-shadow: 0 4px 16px 0 rgba(66, 51, 255, 0.2);
    border-radius: 10px;
}

.c-card:hover {
    box-shadow: 0 4px 22px 0 rgba(66, 51, 255, 0.3);
}

.c-card_title {
    color: #4233ff;
    font-weight: 400;
}
.c-card_title h3 {
    font-weight: 400;
}

.card-design {
    width: 100%;
    -webkit-box-shadow: 0 1px 10px rgba(0, 17, 68, 0.2);
    box-shadow: 0 1px 10px rgba(0, 17, 68, 0.2);
    border-radius: 6px;
    background-color: #ccc;
    overflow: hidden;
    height: 20vw;
    position: relative;
}

.c-card_hash {
    /*background-color: #fc0;*/
    background-color: rgba(255, 204, 0, 0.18);
    color: #9a7c00;
}

.card-design__img {
    height: 100%;
}
.card-design__img img {

}

.card-design__body {
    font-size: 15px;
    line-height: 1;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.page-design {
    margin-bottom: 40px;
}

.page-design-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 1;
}

.page-design-desc {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
}

.page-design-img {
    width: 100%;
}

.page-design-img img {
    width: 100%;
    height:auto;
}

.page-design-desc p,
.page-header p {
    margin: 0 0 14px 0;
}

.page-header-title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
}

.page-header-desc {
    font-size: 20px;
    margin-bottom: 14px;
}

.page-header-link {
    display: inline-block;
    padding: 6px 16px;
    color: #4233ff;
    transition: color 0.3s;
    border: 1px solid #4233ff;
    border-radius: 8px;

}

@media (max-width:700px){
    .c-card {
        height: auto !important;
    }
}