/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=cyrillic,latin);
/* line 29, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0; }

/* line 34, ../sass/screen.scss */
ul {
  margin: 0;
  padding: 0; }

/* line 39, ../sass/screen.scss */
h1 {
  font: 35px "Cuprum", Arial, sans-serif;
  line-height: 20px; }

/* line 44, ../sass/screen.scss */
a {
  text-decoration: none;
  transition: all 0.3s ease; }
  /* line 48, ../sass/screen.scss */
  a:hover {
    transition: all 0.3s ease;
    opacity: .8; }

/* line 53, ../sass/screen.scss */
.container {
  box-sizing: border-box;
  padding: 0 20px;
  width: 980px;
  margin: 0 auto;
  position: relative; }
  /* line 23, ../sass/screen.scss */
  .container::after {
    content: "";
    display: table;
    clear: both; }
  /* line 61, ../sass/screen.scss */
  .container_no-padding {
    padding: 0; }

/***HEADER***/
/**************************************************/
/* line 68, ../sass/screen.scss */
header {
  background-color: #fafafa; }

/* line 72, ../sass/screen.scss */
.header_top-line {
  background-color: #0c385d; }
  /* line 23, ../sass/screen.scss */
  .header_top-line::after {
    content: "";
    display: table;
    clear: both; }

/* line 77, ../sass/screen.scss */
.header_top-line_application a {
  text-transform: uppercase;
  float: right;
  background-image: linear-gradient(#0087d9, #005dbd);
  font: bold 16px "Cuprum", Arial, sans-serif;
  line-height: 16px;
  color: white;
  padding: 12px 34px;
  margin-left: 15px; }

/* line 88, ../sass/screen.scss */
.header_top-line_slogan {
  float: left;
  font: 15px "Cuprum", Arial, sans-serif;
  padding: 11px 0;
  color: white; }

/* line 95, ../sass/screen.scss */
.header_top-line_social {
  float: right;
  min-height: 40px;
  width: 54px; }

/* line 101, ../sass/screen.scss */
.header_top-line_facebook,
.header_top-line_vk {
  display: inline-block;
  text-decoration: none;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  margin: 8px 0;
  background-image: linear-gradient(#0087d9, #005dbd);
  transition: all 0.3s ease; }
  /* line 112, ../sass/screen.scss */
  .header_top-line_facebook i,
  .header_top-line_vk i {
    display: block;
    line-height: 24px;
    text-align: center;
    color: white; }
  /* line 119, ../sass/screen.scss */
  .header_top-line_facebook a:hover,
  .header_top-line_vk a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s ease; }

/* line 125, ../sass/screen.scss */
.header-site {
  vertical-align: top;
  position: relative; }
  /* line 23, ../sass/screen.scss */
  .header-site::after {
    content: "";
    display: table;
    clear: both; }

/* line 131, ../sass/screen.scss */
.header-site_logo {
  float: left;
  width: 247px;
  height: 64px;
  background: url("../images/logo.png") no-repeat 50% 50%;
  margin: 10px 20px 0 0; }

/* line 139, ../sass/screen.scss */
.header-site_wrap {
  float: left;
  margin: 22px 0; }
  /* line 143, ../sass/screen.scss */
  .header-site_wrap .header-site_address {
    color: #0c385d;
    font: italic 15px "Cuprum", Arial, sans-serif; }
  /* line 148, ../sass/screen.scss */
  .header-site_wrap .header-site_slogan {
    color: #0c385d;
    font: bold italic 19px "Cuprum", Arial, sans-serif;
    margin-top: 5px; }

/* line 155, ../sass/screen.scss */
.header-site_info {
  position: absolute;
  right: 0; }

/* line 160, ../sass/screen.scss */
.header-site_button {
  text-align: right; }
  /* line 163, ../sass/screen.scss */
  .header-site_button a {
    padding: 11px 35px;
    border-radius: 20px;
    background-color: #f24f3c;
    color: white;
    font: 16px/17px "Cuprum", Arial, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease; }
    /* line 173, ../sass/screen.scss */
    .header-site_button a:hover {
      background-color: rgba(242, 79, 60, 0.7);
      transition: all 0.3s ease; }

/* line 180, ../sass/screen.scss */
.header_nav {
  background-image: linear-gradient(#0087d9, #005dbd); }

/* line 184, ../sass/screen.scss */
.header_nav_menu {
  list-style: none;
  text-align: justify;
  text-justify: distribute-all-lines;
  font-size: 0; }
  /* line 23, ../sass/screen.scss */
  .header_nav_menu::after {
    content: "";
    display: table;
    clear: both; }
  /* line 191, ../sass/screen.scss */
  .header_nav_menu::after {
    content: "";
    display: inline-block;
    width: 100%; }
  /* line 197, ../sass/screen.scss */
  .header_nav_menu li {
    display: inline-block;
    font-size: 0; }
  /* line 202, ../sass/screen.scss */
  .header_nav_menu a {
    color: white;
    vertical-align: middle;
    text-decoration: none;
    display: block;
    padding: 0 20px;
    padding: 18px 20px;
    font: 18px "Cuprum", Arial, sans-serif;
    transition: all 0.3s ease; }
    /* line 212, ../sass/screen.scss */
    .header_nav_menu a:hover {
      background-color: rgba(255, 255, 255, 0.2);
      transition: all 0.3s ease; }
    /* line 217, ../sass/screen.scss */
    .header_nav_menu a:active {
      background-color: rgba(255, 255, 255, 0.3); }

/***SLIDER***/
/**************************************************/
/* line 225, ../sass/screen.scss */
.slider {
  width: 100%;
  height: 483px;
  overflow: hidden;
  position: relative; }
  /* line 231, ../sass/screen.scss */
  .slider .slide-container {
    height: 483px;
    position: relative;
    overflow: hidden;
    background: lightblue;
    transition: 0.4s; }

/* line 240, ../sass/screen.scss */
.slide {
  position: relative;
  float: left;
  text-align: center;
  line-height: 483px;
  font-size: 0; }

/* line 249, ../sass/screen.scss */
.slide-1 {
  background: url("../images/slide-1.jpg") no-repeat 50% 50%;
  background-size: cover; }

/* line 249, ../sass/screen.scss */
.slide-2 {
  background: url("../images/slide-2.jpg") no-repeat 50% 50%;
  background-size: cover; }

/* line 249, ../sass/screen.scss */
.slide-3 {
  background: url("../images/slide-3.jpg") no-repeat 50% 50%;
  background-size: cover; }

/* line 249, ../sass/screen.scss */
.slide-4 {
  background: url("../images/slide-4.jpg") no-repeat 50% 50%;
  background-size: cover; }

/* line 249, ../sass/screen.scss */
.slide-5 {
  background: url("../images/slide-5.jpg") no-repeat 50% 50%;
  background-size: cover; }

/* line 249, ../sass/screen.scss */
.slide-6 {
  background: url("../images/slide-6.jpg") no-repeat 50% 50%;
  background-size: cover; }

/* line 255, ../sass/screen.scss */
.controls {
  width: 980px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -21px;
  margin-left: -490px; }
  /* line 263, ../sass/screen.scss */
  .controls a {
    padding: 5px 10px 5px 12px;
    position: absolute;
    top: 50%;
    text-decoration: none;
    color: white;
    background-color: #f24f3c;
    transition: 0.4s; }
    /* line 272, ../sass/screen.scss */
    .controls a:hover {
      background-color: #f26f61;
      transition: 0.4s; }
  /* line 277, ../sass/screen.scss */
  .controls .prev {
    left: 0; }
    /* line 280, ../sass/screen.scss */
    .controls .prev i {
      height: 23px; }
  /* line 284, ../sass/screen.scss */
  .controls .next {
    right: 0; }

/***advantages***/
/**************************************************/
/* line 289, ../sass/screen.scss */
.advantages {
  box-sizing: border-box;
  padding: 20px 0 20px;
  background: #eee url("../images/bg-advantages.jpg") no-repeat 50% 0%;
  background-size: cover; }
  /* line 23, ../sass/screen.scss */
  .advantages::after {
    content: "";
    display: table;
    clear: both; }

/* line 297, ../sass/screen.scss */
.advantages_company {
  float: left;
  width: 700px; }
  /* line 301, ../sass/screen.scss */
  .advantages_company h1 {
    text-transform: uppercase;
    font: bold 32px/15px "Cuprum", Arial, sans-serif;
    margin-bottom: 30px;
    text-align: center;
    color: white; }

/* line 310, ../sass/screen.scss */
.tv-icon {
  background: url("../images/tv.png") no-repeat; }

/* line 311, ../sass/screen.scss */
.star-icon {
  background: url("../images/star.png") no-repeat; }

/* line 312, ../sass/screen.scss */
.setting-icon {
  background: url("../images/setting.png") no-repeat; }

/* line 313, ../sass/screen.scss */
.price-icon {
  background: url("../images/price.png") no-repeat; }

/* line 314, ../sass/screen.scss */
.video-icon {
  background: url("../images/video.png") no-repeat; }

/* line 315, ../sass/screen.scss */
.win-icon {
  background: url("../images/win.png") no-repeat; }

/* line 317, ../sass/screen.scss */
.advantages_company_item {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  width: 191px;
  margin: 0 20px 20px 0; }

/* line 325, ../sass/screen.scss */
.item-big {
  width: 250px; }

/* line 329, ../sass/screen.scss */
.advantages_company_item_icon {
  float: left;
  width: 32px;
  min-height: 31px;
  background-position: center; }

/* line 336, ../sass/screen.scss */
.advantages_company_item_caption {
  margin-left: 40px;
  color: white;
  text-transform: uppercase;
  font: bold 14px/15px "Cuprum", Arial, sans-serif; }
  /* line 342, ../sass/screen.scss */
  .advantages_company_item_caption::after {
    content: "";
    display: block;
    width: 35px;
    height: 2px;
    margin-top: 10px;
    background-color: #41b5ff; }

/* line 352, ../sass/screen.scss */
.advantages_banner {
  float: right;
  width: 210px; }
  /* line 356, ../sass/screen.scss */
  .advantages_banner img {
    width: 100%; }

/***tv***/
/**************************************************/
/* line 363, ../sass/screen.scss */
.tv {
  padding: 40px 0 50px;
  background: #eee url("../images/bg-tv.jpg") no-repeat 50% 50%;
  background-size: cover; }

/* line 369, ../sass/screen.scss */
.ads {
  float: left;
  width: 200px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 20px; }
  /* line 376, ../sass/screen.scss */
  .ads .ads_h1 {
    margin: 0;
    font-family: "Cuprum", Arial, sans-serif;
    color: #2860ad;
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    font-weight: 700;
    text-transform: uppercase; }
  /* line 387, ../sass/screen.scss */
  .ads span {
    color: #e74c3c;
    font: 17px/18px "Cuprum", Arial, sans-serif; }
    /* line 391, ../sass/screen.scss */
    .ads span .lowercase {
      text-transform: lowercase; }
  /* line 396, ../sass/screen.scss */
  .ads .white {
    color: white; }

/* line 401, ../sass/screen.scss */
.white {
  color: white; }

/* line 405, ../sass/screen.scss */
.ads_p {
  margin: 0 20px 0 250px;
  color: #0b283a;
  font: 19px/18px "Cuprum", Arial, sans-serif; }
  /* line 409, ../sass/screen.scss */
  .ads_p.white {
    color: white; }

/*** SLIDER tv***/
/* line 414, ../sass/screen.scss */
.slider-wrap {
  position: relative;
  width: 100%; }

/* line 419, ../sass/screen.scss */
.slider-4,
.slider-advertising,
.slider-news {
  position: relative;
  width: 940px;
  margin: auto; }
  /* line 426, ../sass/screen.scss */
  .slider-4 ul,
  .slider-advertising ul,
  .slider-news ul {
    margin: 0;
    padding: 0; }
    /* line 430, ../sass/screen.scss */
    .slider-4 ul li,
    .slider-advertising ul li,
    .slider-news ul li {
      display: inline-block;
      list-style: none;
      text-align: center; }
      /* line 435, ../sass/screen.scss */
      .slider-4 ul li .item,
      .slider-advertising ul li .item,
      .slider-news ul li .item {
        position: relative;
        vertical-align: middle;
        width: 14rem;
        margin-right: 52px; }
        /* line 441, ../sass/screen.scss */
        .slider-4 ul li .item a,
        .slider-advertising ul li .item a,
        .slider-news ul li .item a {
          text-decoration: none; }

/* line 449, ../sass/screen.scss */
.avatar {
  height: 123px;
  margin: 0 8px 10px;
  background-size: cover;
  background-position: center;
  position: relative; }
  /* line 456, ../sass/screen.scss */
  .avatar.brd {
    border-bottom: 1px solid #565759; }
  /* line 460, ../sass/screen.scss */
  .avatar.avatar-big {
    background-color: white;
    border-radius: 50%;
    width: 205px;
    height: 205px;
    box-shadow: 1px 4px 0px 0px rgba(105, 105, 105, 0.1); }
  /* line 468, ../sass/screen.scss */
  .avatar img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

/* line 477, ../sass/screen.scss */
.data {
  color: #0c385d;
  font: 15px/25px "Cuprum", Arial, sans-serif;
  text-transform: uppercase; }
  /* line 482, ../sass/screen.scss */
  .data.white {
    color: white; }

/* line 487, ../sass/screen.scss */
.view-profile {
  color: #6cb6ff;
  font: 25px/25px "Cuprum", Arial, sans-serif;
  text-transform: uppercase; }

/* line 493, ../sass/screen.scss */
.slider-arrow {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  color: #0087D9;
  text-align: center;
  text-decoration: none;
  border-radius: 50%; }
  /* line 504, ../sass/screen.scss */
  .slider-arrow i {
    font-size: 2rem; }

/* line 507, ../sass/screen.scss */
.gradient {
  background: linear-gradient(#0087d9, #005dbd);
  -webkit-background-clip: text;
  color: transparent; }

/* line 513, ../sass/screen.scss */
.sa-left,
.add-left,
.nw-left {
  left: -30px; }

/* line 519, ../sass/screen.scss */
.sa-right,
.add-right,
.nw-right {
  right: -30px; }

/* line 525, ../sass/screen.scss */
.cl-left {
  left: 0; }
  /* line 528, ../sass/screen.scss */
  .cl-left.slider-arrow i {
    font-size: 1rem; }

/* line 533, ../sass/screen.scss */
.cl-right {
  right: 0; }
  /* line 536, ../sass/screen.scss */
  .cl-right.slider-arrow i {
    font-size: 1rem; }

/***advertising***/
/**************************************************/
/* line 543, ../sass/screen.scss */
.advertising {
  background: #eee url("../images/bg-advertising.jpg") no-repeat 50% 50%;
  padding: 40px 0 50px;
  background-size: cover; }

/***news***/
/**************************************************/
/* line 551, ../sass/screen.scss */
.news {
  padding: 40px 0 50px; }
  /* line 554, ../sass/screen.scss */
  .news .other-news {
    display: block;
    font: 15px/17px "Cuprum", Arial, sans-serif;
    color: #0060bf;
    text-align: right;
    margin: 10px 30px 0 0;
    text-decoration: underline; }

/* line 564, ../sass/screen.scss */
.slider-wrap.news-margin {
  margin-bottom: 10px; }

/* line 568, ../sass/screen.scss */
.news_h2, .clients_h2 {
  font: bold 35px "Cuprum", Arial, sans-serif;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase; }

/* line 576, ../sass/screen.scss */
.item-news {
  box-sizing: border-box;
  box-shadow: 1px 4px 0px 0px rgba(105, 105, 105, 0.15);
  width: 456px;
  height: 179px;
  background-image: linear-gradient(#0087d9, #005dbd); }
  /* line 23, ../sass/screen.scss */
  .item-news::after {
    content: "";
    display: table;
    clear: both; }
  /* line 584, ../sass/screen.scss */
  .item-news .item-news_img {
    overflow: hidden;
    width: 116px;
    height: 179px;
    float: left; }
    /* line 590, ../sass/screen.scss */
    .item-news .item-news_img img {
      width: 100%;
      height: auto; }
  /* line 596, ../sass/screen.scss */
  .item-news .item-news_content {
    text-align: left;
    margin-left: 136px;
    padding: 16px 20px 0 0; }
    /* line 601, ../sass/screen.scss */
    .item-news .item-news_content .item-news_h2 {
      margin: 0;
      margin-bottom: 8px;
      line-height: 10px; }
      /* line 606, ../sass/screen.scss */
      .item-news .item-news_content .item-news_h2 a {
        font: 18px "Cuprum", Arial, sans-serif;
        color: white;
        text-transform: uppercase; }
    /* line 613, ../sass/screen.scss */
    .item-news .item-news_content .item-news_date {
      color: #5ac1ff;
      font: 16px/18px "Cuprum", Arial, sans-serif;
      margin-bottom: 8px; }
    /* line 619, ../sass/screen.scss */
    .item-news .item-news_content .item-news_prev {
      margin-bottom: 10px;
      height: 40px;
      overflow: hidden;
      color: white;
      font: 18px/18px "Cuprum", Arial, sans-serif; }
      /* line 626, ../sass/screen.scss */
      .item-news .item-news_content .item-news_prev.one-line {
        height: 20px; }
    /* line 631, ../sass/screen.scss */
    .item-news .item-news_content .item-news_button {
      font: 15px/19px "Cuprum", Arial, sans-serif;
      display: inline-block;
      vertical-align: baseline;
      border-radius: 30px;
      padding: 3px 15px 3px;
      color: #0c385d;
      text-decoration: none;
      background-color: white; }

/* line 644, ../sass/screen.scss */
.line {
  width: 645px;
  height: 2px;
  background-color: #d8d8d8;
  opacity: .55;
  margin: 0 auto;
  margin-bottom: 20px; }

/* line 653, ../sass/screen.scss */
.slider-wrap.clients-margin {
  margin-top: 0px; }

/***slider-clients***/
/**************************************************/
/* line 659, ../sass/screen.scss */
.slider-clients {
  width: 940px; }
  /* line 662, ../sass/screen.scss */
  .slider-clients ul {
    list-style: none; }
  /* line 666, ../sass/screen.scss */
  .slider-clients .item {
    vertical-align: middle;
    height: 60px;
    text-align: center;
    position: relative;
    margin-right: 5px;
    line-height: 80px; }

/***footer***/
/**************************************************/
/* line 678, ../sass/screen.scss */
footer {
  border-top: 6px solid #135889;
  min-height: 393px; }

/* line 683, ../sass/screen.scss */
.footer-content {
  background: url(../images/bg-footer.jpg) no-repeat 50% 0;
  background-size: cover;
  padding-top: 25px;
  font-size: 0; }

/* line 690, ../sass/screen.scss */
.footer-line {
  background-color: #fff; }

/* line 694, ../sass/screen.scss */
.footer_logo {
  float: left;
  padding-top: 1px;
  width: 151px;
  height: 41px;
  background-image: url(../images/footer-logo.png);
  margin: 5px 0 7px 20px; }

/* line 703, ../sass/screen.scss */
.footer_fone-number {
  float: right;
  font: 25px "Cuprum", Arial, sans-serif;
  margin: 15px 0 10px; }
  /* line 708, ../sass/screen.scss */
  .footer_fone-number span {
    font-size: 19px; }

/* line 713, ../sass/screen.scss */
.footer_menu {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  margin-right: 65px;
  margin-left: 20px; }
  /* line 720, ../sass/screen.scss */
  .footer_menu h3 {
    font: 18px/17px "Cuprum", Arial, sans-serif;
    color: white;
    margin-bottom: 10px; }
  /* line 726, ../sass/screen.scss */
  .footer_menu .contact {
    width: 240px; }
    /* line 729, ../sass/screen.scss */
    .footer_menu .contact li {
      margin: 20px 0; }
      /* line 732, ../sass/screen.scss */
      .footer_menu .contact li i {
        /*contact icon*/
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
        width: 20px;
        height: 20px; }
      /* line 740, ../sass/screen.scss */
      .footer_menu .contact li .point {
        background: url("../images/point.png") no-repeat 50% 50%; }
      /* line 741, ../sass/screen.scss */
      .footer_menu .contact li .email {
        background: url("../images/email.png") no-repeat 50% 50%; }
      /* line 742, ../sass/screen.scss */
      .footer_menu .contact li .fone {
        background: url("../images/fone.png") no-repeat 50% 50%; }

/* line 747, ../sass/screen.scss */
.footer_menu_item {
  margin-bottom: 30px;
  font: 16px "Cuprum", Arial, sans-serif;
  list-style: none; }
  /* line 752, ../sass/screen.scss */
  .footer_menu_item li {
    margin: 3px 0;
    color: #5ac1ff; }
  /* line 757, ../sass/screen.scss */
  .footer_menu_item a {
    color: #5ac1ff;
    text-decoration: none;
    transition: all 0.3s ease; }
    /* line 762, ../sass/screen.scss */
    .footer_menu_item a:hover {
      color: white;
      transition: all 0.3s ease; }

/* line 769, ../sass/screen.scss */
.footer_bottom-line {
  padding: 15px 0 15px;
  font: 14px/20px "Cuprum", Arial, sans-serif; }
  /* line 773, ../sass/screen.scss */
  .footer_bottom-line a {
    color: #5ac1ff; }
  /* line 777, ../sass/screen.scss */
  .footer_bottom-line p {
    text-align: center;
    margin: 0 auto; }
