@media (max-width: 1024px) and (min-width: 700px) {
  .layout {
    width: 100%;
    padding: 0 .7em;
  }
  .grid_item {
    width: 49%;
  }
}
//@media (max-width: 700px) {
//  .grid_item {
//    width: 100%;
//    padding: 0;
//  }
//}

@media (max-width: 700px) {
  .layout {
  width: 100%;
  //padding: 0 .7em;
}

  .grid_item {
    display: block;
    width: 100% !important;
  }

  .c-card_title h3 {
    font-size: 1.6em;
  }
}

